@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/homePage.scss";
@import "./styles/testimonial.scss";
@import "./styles/whyChoose.scss";
@import "./styles/_buttons.scss";
@import "./styles/_cta.scss";
@import "./styles/_faq.scss";
@import "./styles/_footer.scss";
@import "./styles/_gridWrapper.scss";
@import "./styles/_header.scss";
@import "./styles/_imageCard.scss";
@import "./styles/_input.scss";
@import "./styles/_lable.scss";
@import "./styles/_odometer.scss";
@import "./styles/_pricing.scss";
@import "./styles/_signin.scss";
@import "./styles/_spacing.scss";
@import "./styles/_tools.scss";
@import "./styles/_typography.scss";
@import "./styles/_value.scss";
@import "./styles/_variables.scss";
